{%extends "base.html"%}
{%block contenido%}
<body style="background-color: #A6ABBF;">

<h1>Acerca de mi</h1>
<p>Me gustaria seguir estudiando hasta poder graduarme de la universidad ayudando a mis padres en el proceso aun que lo mas seguro es que no continue con programacion por que no es para mi pero de todas formas fue algo bueno entrar y asi conocer este ambito laboral y sobre todo usted y treviño que me ha dado un golpe de realidad a tratar de hacer de la mejor manera las cosas </p> <br>
<p>Aguilar Bautista Diego</p>

</body>

{%endblock%}