{%extends "base.html"%}
{%block contenido%}
<body style="background-color: #A6ABBF;">

    <div style="text-align: center;">
<h1>Animales Exoticos</h1>
<p>La naturaleza está llena de seres sorprendentes que destacan por su rareza, belleza y adaptaciones únicas. Los animales exóticos son aquellos que poseen características inusuales, colores llamativos, comportamientos singulares o que habitan lugares remotos y poco accesibles. A lo largo del mundo, podemos encontrar especies exóticas en el mar, en el aire y en la tierra, cada una adaptada a su entorno de manera excepcional.</p> <br>

<h2>Aire</h2>
<h4>Guacamayo Jacinto</h4>
<p>El Guacamayo Jacinto es el loro más grande del mundo y una de las aves más impresionantes de Sudamérica. Habita principalmente las selvas de Brasil, Bolivia y Paraguay, donde destaca por su plumaje azul intenso y su pico fuerte y curvado, capaz de romper semillas y frutos duros.</p>
<img src="static/img/animal1.jpeg" width="300" height="300" alt=""> <br><br>
<h4>Ave Lira</h4>
<p>El Ave Lira es un pájaro originario de los bosques de Australia, famoso por su habilidad extraordinaria para imitar sonidos. Posee un plumaje marrón discreto y una cola larga en forma de lira, que utiliza para atraer a las hembras durante el cortejo.</p>
<img src="static/img/animal2.jpeg" width="300" height="300" alt=""><br><br>

<h2>Mar</h2>
<h4>Pez Mandarín</h4>
<p>El Pez Mandarín es uno de los animales más llamativos y exóticos del océano, habitando principalmente los arrecifes de coral del Pacífico, especialmente en Filipinas y Australia. Su pequeño tamaño y su extraordinario colorido lo convierten en una verdadera joya marina; combina tonalidades azules, naranjas y verdes que parecen dibujadas por un artista</p>
<img src="static/img/animal3.jpeg" width="300" height="300" alt=""><br><br>
<h3>Caballito de Mar Pigmeo</h3>
<p>El Caballito de Mar Pigmeo es una de las especies más pequeñas y misteriosas de los océanos, alcanzando apenas los 2 centímetros de longitud. Habita los arrecifes de coral de Australia y Nueva Caledonia, donde se camufla entre las algas y corales gracias a su diminuto tamaño y patrones de color que lo hacen casi invisible para depredadores y presas.</p>
<img src="static/img/animal4.jpeg" width="300" height="300" alt=""><br><br>

<h2>Tierra</h2>
<h4>Aye-Aye</h4>
<p>El Aye-Aye es un primate nocturno endémico de Madagascar, conocido por su aspecto peculiar y su comportamiento único. Tiene un cuerpo cubierto de pelaje oscuro y un dedo medio extremadamente largo y delgado, que utiliza para extraer insectos de la madera, técnica conocida como percusión y extracción.</p>
<img src="static/img/animal5.jpg" width="300" height="300" alt=""><br><br>
<h4>Capibara</h4>
<p>La Capibara es el roedor más grande del mundo, nativo de América del Sur y común en ríos, lagunas y humedales de países como Brasil, Venezuela y Argentina. Este animal es semiacuático y un excelente nadador, capaz de sumergirse durante varios minutos para escapar de depredadores.</p>
<img src="static/img/animal6.webp" width="300" height="300" alt=""><br><br>

<br><br><br><br><br><br><br><br><br><br><br><br><br>

<h1>Dylan</h1>
<p>Este ejemplar es el mas raro del reino animal siendo que es el ultimo de su especie, tiene una caracteristica que solo sale de vez en cuando pero dice que es normal aun que no lo sea </p>
<img src="static/img/dylan.jpg" width="300" height="300" alt="">

</div>

</body>

{%endblock%}