{%extends "base.html"%}
{%block contenido%}
<body style="background-color: #A6ABBF;">

    <div style="text-align: center;">
<h1>Las Maravillas del Mundo</h1>
<p>Las maravillas del mundo son obras arquitectónicas o naturales excepcionales, reconocidas por su belleza, ingeniería, importancia histórica o cultural. A lo largo del tiempo, se han creado listas para destacar aquellas que representan lo mejor de la creatividad y el ingenio humano.</p> <br>

<h3>1. La Gran Muralla China</h3>
<p>La Gran Muralla China, construida entre el siglo V a.C. y el siglo XVI, es una obra monumental destinada a la defensa del imperio chino frente a invasiones externas. Con más de 21,000 kilómetros, constituye la estructura más larga jamás construida por el ser humano.</p>
<img src="static/img/maravilla1.jpg" width="300" height="300" alt="Vehiculo antiguo">

<h3>2. Petra</h3>
<p>Ubicada en Jordania, Petra es una ciudad excavada en roca que floreció en el siglo IV a.C. como centro comercial y cultural del reino nabateo. Sus fachadas esculpidas, especialmente el Tesoro (Al-Khazneh), muestran un dominio impresionante de la arquitectura y la piedra.</p>
<img src="static/img/maravilla2.jpg" width="300" height="300" alt="">

<h3>3. Cristo Redentor</h3>
<p>El Cristo Redentor, en Río de Janeiro, Brasil, es una gigantesca estatua de 30 metros de altura que fue inaugurada en 1931. Esta obra no solo destaca por su magnitud y diseño, sino también por su simbolismo: representa la fe y la esperanza de un país marcado por su diversidad cultural y religiosa.</p>
<img src="static/img/maravilla3.jpg" width="300" height="300" alt="">

<h3>4. Machu Picchu</h3>
<p>Situada en lo alto de los Andes peruanos, Machu Picchu fue construida en el siglo XV por la civilización inca. Esta ciudadela combina ingeniería avanzada y un profundo respeto por el entorno natural, con terrazas, sistemas de riego y templos que demuestran un conocimiento excepcional de la arquitectura y la astronomía.</p>
<img src="static/img/maravilla4.jpg" width="300" height="300" alt="">

<h3>5. Chichén Itzá</h3>
<p>El sitio arqueológico de Chichén Itzá, en México, fue un importante centro ceremonial de la civilización maya. Su estructura más conocida, la Pirámide de Kukulkán, es un ejemplo de precisión arquitectónica y conocimiento astronómico, reflejando el paso de las estaciones y los equinoccios.</p>
<img src="static/img/maravilla5.webp" width="300" height="300" alt="">

<h3>6. Coliseo Romano</h3>
<p>El Coliseo, ubicado en Roma, Italia, es un anfiteatro construido en el siglo I d.C. que podía albergar a decenas de miles de espectadores. Esta obra es un símbolo del ingenio romano en ingeniería y arquitectura, con sistemas de gradas, pasillos y mecanismos para espectáculos de gladiadores y eventos públicos.</p>
<img src="static/img/maravilla6.jpg" width="300" height="300" alt="">

<h3>7. Taj Mahal</h3>
<p>El Taj Mahal, en India, construido en 1653, es un mausoleo de mármol blanco dedicado al amor del emperador Shah Jahan por su esposa Mumtaz Mahal. Su diseño combina influencias islámicas, persas e indias, y su simetría, jardines y detalles ornamentales lo convierten en una obra de arte arquitectónica incomparable</p>
<img src="static/img/maravilla7.webp" width="300" height="300" alt="">
</div>

</body>

{%endblock%}