{%extends "base.html"%}
{%block contenido%}
<body style="background-color: #A6ABBF;">
    <div class="form-box" style="background: white; padding: 30px; border-radius: 8px; width: 100%; max-width: 400px;" >
<h1 class="text-center" style="color: #1877f2;">Iniciar Sesión</h1>
<p class="text-center">Introduce tus datos</p>

 
<form>
    <input type="email" name="email" placeholder="Correo electrónico"
        value="{{ email or '' }}">
    <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Ingresar</button>
</form>


<div class="text-center mt-3">
<a href="#">¿Olvidaste tu contraseña?</a>
</div>
</div>
</body>





{%endblock%}