{%extends "base.html"%}
{%block contenido%}
<body style="background-color: #A6ABBF;">

<h1>Vehiculos Antiguos</h1>
<p>La historia del automóvil es un reflejo del ingenio humano y de la evolución tecnológica que ha transformado la forma en que nos desplazamos.</p> <br>
<h3>Los Primeros Vehículos: La Invención del Automóvil</h3>
<p>El nacimiento del automóvil se remonta al siglo XVIII, cuando Nicolas-Joseph Cugnot desarrolló en 1769 el Fardier a vapor, considerado el primer vehículo autopropulsado. Aunque rudimentario y de velocidad limitada, este invento sentó las bases para la movilidad mecánica.</p>
<img src="static/img/vehiculo1.webp" alt="Vehiculo antiguo"> <br>

<h3>La Era de la Producción y el Lujo</h3>
<p>A principios del siglo XX surgieron marcas que combinaron innovación técnica con exclusividad. En Estados Unidos, Ford Motor Company revolucionó la industria con el Model T (1908), primer automóvil producido en serie, accesible para la clase media y capaz de alcanzar una velocidad moderada. Este vehículo popularizó el automóvil, transformando la sociedad al facilitar la movilidad de millones de personas.</p>
<img src="static/img/vehiculo2.jpeg" alt="">

<p>En contraste, marcas europeas como Rolls-Royce y Mercedes-Benz comenzaron a fabricar automóviles para la élite, caracterizados por su lujo extremo y detalles artesanales. El Rolls-Royce Silver Ghost (1907), apodado “el mejor auto del mundo”, se destacaba por su motor silencioso y potente, además de interiores de cuero y acabados de madera. Por su parte, modelos como el Mercedes-Benz 770 “Grosser” (1930) eran símbolos de estatus y se reservaban para reyes, presidentes y dignatarios.</p>
<img src="static/img/vehiculo3.jpeg" alt="">

<p>En Estados Unidos, el Cadillac V-16 (1930) ofrecía un motor V16 y una experiencia de manejo exclusiva, con interiores personalizados en cuero y madera noble. Estos vehículos de lujo reflejaban la alta sociedad y la creciente demanda de automóviles no solo como medios de transporte, sino también como expresiones de prestigio y estilo de vida.</p>
<img src="static/img/vehiculo4.jpeg" alt="">

<p>es un automóvil legendario que representa la cúspide del lujo y la ingeniería automotriz de la primera mitad del siglo XX. Fue diseñado por Ettore Bugatti, un ingeniero y diseñador francés-italiano, con el objetivo de crear el automóvil más exclusivo y avanzado de su época, destinado a la realeza y la élite económica mundial.</p>
<img src="static/img/vehiculo5.jpeg" alt="">
</body>

{%endblock%}